<tr>
    <th>{{id}}</th>
    <th><img src="/icons/png/{{ikona}}"></th>
    <th>{{size}}</th>
    <th>{{name}}</th>
    <th>{{type}}</th>
    <th><a href="delete/{{id}}">DELETE</a></th>
    <th><a href="info/{{id}}">INFO</a></th>
    <th><a href="download/{{id}}">DOWNLOAD</a></th>
</tr>