<body>
    <div id="pasek">
        <a href="/" id="upload">upload</a>
        <a href="/filemanager" id="filemanager">filemanager</a>
        <a href="/info" id="info">info</a>
    </div>
    <div id=info_div>
        <h1>id:</h1>
        <h3>{{id}}</h3>
        <h1>size:</h1>
        <h3>{{size}}</h3>
        <h1>name:</h1>
        <h3>{{name}}</h3>
        <h1>type:</h1>
        <h3>{{type}}</h3>
        <h1>date:</h1>
        <h3>{{mtime}}</h3>
    </div>
</body>